.body {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 100vh;
    gap: 60px;
}

.container {
    border: 50px solid red;
    height: 700px;
    width: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px;
}

.childDiv {
    box-sizing: border-box;
    /* width and height calculated by taking 100% divided by the number of rows and columns (16) */
    border: solid rgb(217, 217, 217);
}

button {
    width: 130px;
    height: 40px;
    order: -1;
    align-self: flex-start;
    background-color:rgb(153, 204, 255);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
}