.container {
    border: solid blue;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap
}

.childDiv {
    border: solid black;
    box-sizing: border-box;
    /* width and height calculated by taking 100% divided by the number of rows and columns (16) */
    width: 6.25%;
    height: 6.25%;
}