.body {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container {
    border: 10px solid black;
    height: 700px;
    width: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap
}

.childDiv {
    box-sizing: border-box;
    /* width and height calculated by taking 100% divided by the number of rows and columns (16) */
    width: 6.25%;
    height: 6.25%;
}